<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="reset-password.component.css">
    <title>Reset Password</title>
</head>
<body>
    <!--Div for resetting password form-->
    <div class="container">
        <div class="myCard">
            <div class="row">
                <div class="col-md-6">
                    <div class="myLeftCtn"> 
                        <form class="myForm text-center" #loginform="ngForm" action="#">
                            <header>Reset Password</header>
                            <p>You need to reset your password after logging in for the first time.</p>
                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                                <input class="myInput" type="password"  pattern="\d{8}$" name="password" id="password" placeholder="Write new password"  required> 
                              
                                <i class="fas fa-lock"></i>
                                <input class="myInput" type="password"  pattern="\d{8}$" name="password" id="password" placeholder="Confirm your password"  required> 
                            </div>
                            
                            <input type="submit" class="butt" value="Login">
                        </form>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="myRightCtn">
                      <img src="https://www.stc.com.sa/wps/wcm/connect/arabic/individual/resources/c/6/c6596600-12e5-4d49-b695-c0841f98b6e9/1/586x282_International1.png">
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>
</html>