
    <!-- header -->
    <app-header></app-header>

    <!-- routes will be rendered here -->
    <router-outlet></router-outlet>



<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/registar" routerLinkActive="active">Registar</a></li>
    <li><a routerLink="/reset-password" routerLinkActive="active">Reset Password</a></li>
    <li><a routerLink="/users-table" routerLinkActive="active">Users table</a></li>
    <li><a routerLink="/master-data" routerLinkActive="active">Master Data</a></li>
    <li><a routerLink="/master-data-item" routerLinkActive="active">Items</a></li>
    <li><a routerLink="/master-data-task" routerLinkActive="active">Tasks</a></li>
    <li><a routerLink="/master-data-po" routerLinkActive="active">po</a></li>
    <li><a routerLink="/history" routerLinkActive="active">History</a></li>



  </ul>
<nav>
<router-outlet></router-outlet>
    <!-- footer -->
    <app-footer></app-footer>