.uk-timeline .uk-timeline-item .uk-card {
	max-height: 300px;
    background-color: #fbf3ff;

}

.uk-timeline .uk-timeline-item {
	display: flex;
	position: relative;
    
}

/* line*/
.uk-timeline .uk-timeline-item::before {
	background: #dadee4;
	content: "";
	height: 100%;
	left: 19px;
	position: absolute;
	top: 20px;
	width: 2px;
	z-index: -1;
    
    
}
/*check*/
.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
	margin-top: 20px;
	width: 40px;
	height: 40px;
    background-color: #492580;
}

/*all contemt card*/
.uk-timeline .uk-timeline-item .uk-timeline-content {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0 0 0 1rem;
    
}

.uk-label{
    background-color: #e73c60;
}

.uk-card-body .uk-text-success{
    color: black;
}

textarea{ 
    background-color: #fff;
    margin-left: 7%;
    color: black;
  }

  .col{
      margin-left: 6%;
      color: black;

  }

  .row{
      float: left;
      color: black;
  }

  p{
      font-size: 15px;
      color: black;
  }

 