<!-- Div-->
<div class="uk-container uk-padding">

    <!-- Div-->
    <div class="uk-timeline">

        <!-- Div for line and content -->
        <div class="uk-timeline-item">

            <!--check-->
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>

            <!-- content-->
            <div class="uk-timeline-content">
                <!--header (date-update)-->
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-08">20 June - 12:00pm</time></h3>
                            <span class="uk-label uk-label-success uk-margin-auto-left">Update</span>
                        </div>
                    </div>
                    <!--body-->
                    <div class="uk-card-body">
                        
                        <p  name="username" id="username">shahad4 </p>
                        <p name="filename" id="filename">Update  prject file </p>

                        <label class="col"> Colum:task#</label>
                        <label class="row">Row:4</label>
                        <!-- <div class="uk-text-success">Before Update:</div>     
                    </div> -->
                    <textarea></textarea>

                    
                </div>
            </div>
            </div>
        </div>




        <!-- Div for line and content -->
        <div class="uk-timeline-item">

            <!--line-->
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>

            <!-- content-->
            <div class="uk-timeline-content">
                <!--header (date-update)-->
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-08">20 June - 12:00pm</time></h3>
                            <span class="uk-label uk-label-success uk-margin-auto-left">Update</span>
                        </div>
                    </div>
                    <!--body-->
                    <div class="uk-card-body">
                        <p  name="username" id="username">shahad4 </p>
                        <p name="filename" id="filename">Update  prject file </p>

                        <label class="col"> Colum:item#</label>
                        <label class="row">Row:3</label>
                        <!-- <div class="uk-text-success">Before Update:</div>     
                    </div> -->
                    <textarea></textarea>

                    
                </div>
            </div>
            <a href="#"><span class="uk-margin-small-right" uk-icon="triangle-down"></span>Load more</a>
            
        </div>

    </div>
</div>