<div class="uk-container uk-padding">
    <div class="uk-timeline">
        <div class="uk-timeline-item">
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-08">20 June 2021 - 12:00pm</time></h3>
                            <span class="uk-label uk-label-success uk-margin-auto-left">Update</span>
                        </div>
                    </div>
                    <div class="uk-card-body">
						<p class="uk-text-success" > Shahad4 was updated the project file
                        </p>
                        <label id="col">Colum: ID</label><br>
                        <label id="row">Row: 4 </label>
                        <textarea class="square"> 
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-timeline-item">
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-07">7 Feb 2:30am</time></h3>
                            <span class="uk-label uk-label-warning uk-margin-auto-left">Update</span>
                        </div>
                    </div>
                    <div class="uk-card-body">
						<p class="uk-text-success" > Abdullah9 was updated the tasks file
                        </p>
                        <label id="col">Colum: ID</label><br>
                        <label id="row">Row: 2 </label>
                        <textarea class="square"> 
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
				<div class="uk-timeline-item">
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-06">13 Oct 2018 -10:00am</time></h3>
                            <span class="uk-label uk-label-danger uk-margin-auto-left">Update</span>
                        </div>
                    </div>
                    <div class="uk-card-body">
						<p class="uk-text-success" > Suliman2 was updated the item file
                        </p>
                        <label id="col">Colum: ID</label><br>
                        <label id="row">Row: 1 </label>
                        <textarea class="square"> 
                        </textarea>
                    </div>
                </div>
								<a href="#"><span class="uk-margin-small-right" uk-icon="triangle-down"></span>Load more</a>
            </div>
        </div>
    </div>
</div>