<head>
    <title>Users Table</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="master-data.component.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    </head>
    
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Projects </h2></div>
                        <div class="col-sm-4">
                           <div class="searchDiv"> 
                            <input type="text" class="searchInput" placeholder="    Search..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                           </div>
                           
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Project ID</th>
                            <th>Project Name</th>
                            <th>Project Start Date</th>
                            <th>Project End Date</th>
                            <th>Remarks </th>
                            <th>Project Manager</th>
                            <th>Project Max Amount</th>
                            <th>Project Types </th>
                            <th>Project Stauts</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>123</td>
                            <td><a routerLink="/master-data-item" routerLinkActive="active">java</a></td>
                            <td>1/1/1900</td>
                            <td>1/5/1900</td>
                            <td>a</td>
                            <td>Abdullah</td>
                            <td>000001900</td>
                            <td>S</td>
                            <td>In progress</td>
                            <td>
                                <a href="#" class="history" title="History"><i class="fa fa-history" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>234</td>
                            <td>ux</td>
                            <td>1/1/1900</td>
                            <td>1/5/1900</td>
                            <td>a</td>
                            <td>shahad</td>
                            <td>000001900</td>
                            <td>S</td>
                            <td>In progress</td>
                            <td>
                                <a href="#" class="history" title="History"><i class="fa fa-history" aria-hidden="true"></i></a>
                            </td>
                        <tr>
                            <td>3</td>
                            <td>345</td>
                            <td>cyber</td>
                            <td>1/1/1900</td>
                            <td>1/5/1900</td>
                            <td>s</td>
                            <td>Sulaiman</td>
                            <td>000001900</td>
                            <td>S</td>
                            <td>In progress</td>
                            <td>
                                <a routerLink="/history" routerLinkActive="active" href="#" class="history" title="History"><i class="fa fa-history" aria-hidden="true"></i></a>
                            </td>
                        </tr>     
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>   
    